sudo: false

language: ruby

rvm:
  - 2.4.7
  - 2.5.6
  - 2.6.4

gemfile:
  - gemfiles/rails42
  - gemfiles/rails50
  - gemfiles/rails51
  - gemfiles/rails52
  - gemfiles/rails60

script: bundle exec rake spec

before_install:
  - gem install bundler -v '~> 2.0'
