name: atcs_as_removable specs
on: [push]
jobs:
  rspec:
    runs-on: ubuntu-latest
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}
    strategy:
      matrix:
        ruby: [3.1, 3.2, 3.3, 3.4]
        gemfile:
          - rails71
          - rails72
          - rails80
        exclude:
          - ruby: 3.1
            gemfile: rails80
          - ruby: 3.2
            gemfile: rails80

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run tests
        run: bundle exec rake spec
